.about {
  margin: 0 auto 10% auto;
  width: 80%;

  @media (min-width: 600px) {
    width: 60%;
  }

  h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.7rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 3%;
  }
  ul {
    list-style: none;
    span {
      text-decoration: underline;
    }
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 2rem;
    }
    p,
    ul {
      font-size: 1.3rem;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem;
    }
    p,
    ul {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1400px) {
    h1 {
      font-size: 3rem;
    }
    p,
    ul {
      font-size: 1.8rem;
    }
  }

  .about-afac-974 {
    @media (min-width: 600px) {
      margin: 5% auto 20% auto;
    }
    @media (min-width: 800px) {
      display: flex;
      align-items: center;
      margin: 5% auto 15% auto;
    }
    .logo-afac-container {
      @media (min-width: 800px) {
        width: 45%;
      }
    }
    .img-logo-afac {
      width: 100%;
      max-height: 15rem;
      @media (min-width: 800px) {
      }
    }
    .about-info-afac {
      p {
        display: block;
      }
      @media (min-width: 800px) {
        width: 55%;
      }
    }
  }
}

.about-objet-temoin {
  @media (min-width: 600px) {
    margin: 5% auto 20% auto;
  }
  @media (min-width: 800px) {
    display: flex;
    align-items: center;
    margin: 5% auto 10% auto;
  }
  .logo-objet-temoin-container {
    text-align: center;

    @media (min-width: 800px) {
      width: 45%;
    }
  }

  .img-logo-objet-temoin {
    width: 100%;
    max-height: 15rem;
    @media (min-width: 800px) {
      width: 55%;
    }
  }

  .about-info-objet-temoin {
    @media (min-width: 800px) {
      width: 55%;
    }
  }
}

.about-ihoi {
  @media (min-width: 800px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .logo-ihoi-container {
    .background-logo-ihoi {
      padding: auto;
      .img-logo-ihoi {
        width: 95%;

        padding: 2%;
        background-color: var(--primary-color);
      }
    }
    @media (min-width: 800px) {
      width: 45%;
    }
  }

  .img-logo-ihoi {
    max-height: 10rem;
    margin-bottom: 5%;

    @media (min-width: 800px) {
      width: 55%;
    }
  }

  .about-info-ihoi {
    margin-right: 10%;
    @media (min-width: 800px) {
      width: 55%;
    }
  }
}
