.img-author {
  margin-top: 15rem;
  width: 650px;
  height: 800px;
}

.author-paint {
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
}

.img-author {
  width: 50%;
  margin-right: 4%;
}

.author {
  display: flex;
  margin: 3rem auto 20rem auto;
  width: 60%;
  p {
    font-family: Poppins, sans-serif;
    src: url("/src/assets/fonts/Poppins-Regular.woff2") format("woff2");
    font-size: 2rem;
    text-align: justify;
  }

  h2 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: Poppins;
    src: url("/src/assets/fonts/Poppins-Italic.woff2") format("woff2");
    font-display: swap;

  }
}
