.img-author {
  width: 650px;
  height: 800px;
}

.author-paint {
  display: flex;
  flex-direction: column;
}

.img-author {
  width: 50%;
  margin-right: 4%;
}

.author {
  display: flex;
  margin: 0 auto;
  width: 60%;
  p {
    font-size: 2rem;
    text-align: justify;
  }

  h2 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-display: swap;
  }
}

@media (max-width: 480px) {
  .author {
    display: flex;
    flex-direction: column;
  }

  .img-author {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 768px) {
  .author {
    width: 90%;
  }

  .img-author {
    height: 90%;
  }

  .author p {
    font-size: 1.5rem;
  }
}
