.img-author {
  width: 650px;
  height: 800px;
}

.author-paint {
  display: flex;
  flex-direction: column;
}

.img-author {
  width: 50%;
  margin-right: 4%;
}

.author {
  display: flex;
  margin: 0 auto 10rem auto;
  width: 60%;
  p {
    font-size: 2.2rem;
    text-align: justify;
  }

  h2 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
