.filter {
  margin-right: 5%;
  .filter-menus-container {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    gap: 5%;
    font-size: 1.5rem;
  }
  details {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 80%;
  }
  summary {
    font-weight: bold;
  }
  p {
    display: flex;
    align-items: baseline;
  }
  input {
    margin-right: 1rem;
  }
  .favourite-button {
    color: inherit;
    margin: 1rem 0;
    border: none;
    align-self: start;
  }
  .favourite-button.active {
    font-weight: bold;
  }
  @media (min-width: 1000px) {
    background: var(--primary-color);
    color: white;
    width: 20rem;
    .filter-menus-container {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      gap: initial;
      height: 100%;
      margin-left: 3rem;
      color: white;
    }
    details {
      width: 100%;
      padding: 0;
    }
    .favourite-button {
      padding-left: 1.5rem;
    }
  }
}
