.footer {
  background: var(--primary-gradient-color);
  color: white;
  
  .footer-afac-main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

      @media (min-width:700px) {
          flex-direction: row;
        }
        
        .footer-afac {
          display: flex;
          justify-content: space-evenly;
          margin: 5% 0;

          .logo-afac974 {
            width: 30%;
          }

          .afac-infos {
            margin-left: 3%;

            .footer-links {
              padding: auto;
                line-height: 2.5rem;
                .link-color {
                  color: rgb(85, 188, 247);
                  cursor: pointer;
                }
            }
          }
      }

        .footer-partners {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 5% 0;
    }
  }
  .lien-dev {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 3%;
    .linkedin {
      margin-right: 1rem;
      margin: 0 0.3rem;
      color: rgb(85, 188, 247);
      font-weight: bold;
      cursor: pointer;
    }
  }
}
