.footer {
  background: var(--primary-gradient-color);
  color: white;
  margin-top: 5rem;

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 1.7rem;
    }
  }
  p {
    font-size: 1.3rem;
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 2.1rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1400px) {
    h1 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.8rem;
    }
  }

  .footer-afac-main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 700px) {
      flex-direction: row;
    }

    .footer-afac {
      display: flex;
      justify-content: space-evenly;
      margin: 5% 0;

      .logo-afac974 {
        width: 30%;
      }

      .afac-infos {
        margin-left: 3%;
        p {
          margin-bottom: 3%;
        }

        .footer-links {
          margin-top: 10%;
          .link-color {
            color: rgb(85, 188, 247);
          }
        }
      }
    }

    .footer-partners {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5% 0;
      h1 {
        margin-bottom: 2rem;
      }
      .logo-ihoi {
        margin-bottom: 3rem;
      }
    }
  }
  .lien-dev {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 3%;
    .linkedin {
      margin-right: 1rem;
      margin: 0 0.3rem;
      color: rgb(85, 188, 247);
      font-weight: bold;
      cursor: pointer;
    }
  }
}
