.top-header {
  background-color: var(--primary-color);
  height: 10rem;
  display: flex;
  justify-content: flex-end;
    align-items: center;
   
    .hello{
      font-size:large;
      color: white;
      padding-right: 60px;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      padding-top: 30px;
    }
}

.bottom-header {
  display: flex;
  .img-logo {
    position: absolute;
    top: 30px;
    left: 44px;
    width: 24rem;
  }
  .bottom-container {
    display: flex;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 12rem;
      width: 78vw;
      list-style: none;
      border-bottom: 3px solid var(--primary-color);
      z-index: 1;
      li {
        width: 25%;
      }
      .navlink {
        text-decoration: none;
        color: black;
        font-size: 3rem;
      }
      .navlink:hover,
      .navlink.active {
        color: var(--primary-color);
      }
      .diamant {
        position: relative;
        top: -77px;
        left: 87px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        width: 7rem;
        height: 7rem;
      }

      .navlink:hover,
      .navlink.active .diamant {
        opacity: 1;
      }
    }
  }

  .icon-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    clip-path: polygon(21% 120%, 500% 0, 0 0);
    height: 123px;
    width: 100%;
    float: left;
    align-items: center;
    flex-direction: row;
    
    figure {
      text-align: center;
      figcaption {
        color: white;
        font-size: 1.5rem;
      }
    }
    button {
      border: none;
    }
    a {
      text-decoration: none;
    }
  }
}
