@charset "utf-8";

.login {
    @media (min-width: 480px) {
        grid-template-columns: 1fr 12rem;
        p {
            &:not(:nth-last-of-type(2), :last-of-type) {
                grid-column: 1 / -1;
            }
            &:nth-last-of-type(2) {
                order: 1;
            }
        }
    }
}
