.main-legal {
  .legal {
    width: 50%;
    display: flex;
    text-align: justify;
    flex-direction: column;
    margin: auto;
    p {
      font-size: x-large;
      margin-top: 3px;
      margin-top: 3px;
    }
  }
}
