 .noFound{
    h2 {
        color :var(--primary-color);
        font-weight: bold;
        font-size: 3.5rem;
        margin-left: 20rem;
    }
    .p404 .img-404 {
         width : 2300px;
         height : 1000px;
    }  
}