.slider-gallery {
  display: flex;
  align-items: center;
  width: 80rem;
  height: 70vh;
  button {
    width: 2rem;
    height: 2rem;

    font-size: 5rem;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    cursor: pointer;
  }
  .prevBtn:before {
    content: "\003c";
  }
  .prevBtn {
    display: inline;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 50px;
    cursor: pointer;
  }
  .nextBtn::before {
    content: "\003e";
    padding-left: 5rem;
  }
  .nextBtn {
    display: inline;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 50px;
    cursor: pointer;
  }
  img {
    width: 30rem;
    margin: 0 5rem 0 5rem;
  }
  h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  span,
  a {
    font-size: 1.5rem;
  }
}
