@charset "utf-8";

// Variables

:root {
  //colors
  --primary-color: #257593;
  --secondary-color: #73658a;
  --primary-gradient-color: linear-gradient(
    180deg,
    #257593 5.01%,
    #73658a 105.01%
  );
}
